.profile {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  &__img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid rgb(187, 132, 132);
    cursor: pointer;
    object-fit: cover;
  }

  &__actions {
    padding-left: 2rem;
    flex: 2;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__name {
    margin: 0.5rem 0;
    font-weight: 100;
    font-size: 1.5rem;
    color: rgb(93, 93, 93);
    padding: 3px;
  }

  &__setting-icon {
    margin: 4px;
    cursor: pointer;
  }

  &__options {
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(54, 54, 54);
  }

  &__bottom {
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
  }

  &__message-btn {
    margin: 0.3rem;
    background-color: transparent;
    border: 1px solid rgb(214, 214, 214);
    font-weight: 500;
    padding: 5px 50px;
    border-radius: 4px;
    color: rgb(54, 54, 54);
    cursor: pointer;
  }

  &__icon {
    font-size: 2rem;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
    padding: 7px;
    color: rgb(54, 54, 54);
    cursor: pointer;
    margin-left: 0.5rem;
  }

  &__info {
    margin: 1.5rem 0.5rem 1rem;
    padding: 0.5rem;
  }

  &__title {
    color: rgb(54, 54, 54);
  }

  &__professional {
    color: rgb(170, 170, 170);
  }

  &__description {
  }

  &__link {
    color: #00376b;
    font-weight: 500;
    cursor: pointer;
  }

  &__stories {
    display: flex;
    margin: 5px 0;
  }

  &__stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
  }
}
