.header {
  height: 3.75rem;
  padding: 0.313rem 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;

  &__left {
    margin: 0;
  }

  &__img {
    height: 2.5rem;
  }

  &__icons {
    display: flex;
    gap: 1rem;
  }

  &__icon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__avatar {
    height: 1.5rem;
    border-radius: 50%;
  }
}
