.post {
  background-color: white;
  max-width: 31.25rem;
  border: 1px solid lightgray;
  margin-bottom: 2.813rem;
  height: 100%;

  &__header {
    padding: 0.875rem 0.25rem 0.875rem 1rem;
    display: flex;
    align-items: center;
  }

  &__info {
    margin-left: 0.75rem;
  }

  &__userName {
    font-size: 0.875rem;
  }

  &__location {
    color: #8e8e8e;
    font-size: 0.75rem;
    display: block;
  }

  &__image {
    width: 100%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  &__caption {
    display: flex;
    padding: 0.625rem;
  }

  &__name {
  }

  &__text {
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}
