.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  object-fit: cover;

  &--small {
    height: 1.5rem;
    width: 1.5rem;
    padding: 2px;
    object-fit: cover;
    border-radius: 50%;
  }
}
